.description-thin {
  width: 189px;
}

.menu-item-settings .description-thin, .menu-item-settings .description-wide {
  float: none;
  display: inline-block;
}

#jws_option-header_global ul.redux-image-select li {
  display: block;
  text-align: center;
}

.redux-container .redux-main #jws_option-header_global img {
  max-width: 900px;
}

/* CMB2 Image_select Field Styling. Add the code below in a file named image_select_metafield.css ------------- */
.cmb-row.cmb-type-image-select .cmb2-image-select-list {
  margin: 0 !important;
}

.cmb-row.cmb-type-image-select .cmb2-image-select-list .cmb2-image-select input[type="radio"] {
  display: none;
}

.cmb-row.cmb-type-image-select .cmb2-image-select-list .cmb2-image-select {
  display: inline-block;
  margin: 0 10px 3px;
  min-width: 80px;
  padding: 2px 15px 2px 0;
  text-align: center;
}

.cmb-row.cmb-type-image-select .cmb2-image-select-list .cmb2-image-select:first-child {
  margin-left: 0
}

.cmb-row.cmb-type-image-select .cmb2-image-select-list .cmb2-image-select img {
  border: 4px solid #F1F1F1;
}

.cmb-row.cmb-type-image-select .cmb2-image-select-list .cmb2-image-select.cmb2-image-select-selected img {
  border-color: #005077;
}

.vc_edit_form_elements .textarea_raw_html, .wpb_element_wrapper .textarea_raw_html {
  font-size: 14px !important;
}